html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--page-bg);
  color: var(--text);

  /* desktop only, без адаптива */
  min-width: 1200px;
}

#app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
