:root {
  /* font */
  --font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  /* colors */
  --c-text: #000000;
  --c-muted: #8f8f8f;
  --c-bg: #f3f3f3;      /* фон страницы вокруг карточки */
  --c-card: #ffffff;

  --c-border: #bdbdbd;
  --c-border-dark: #9d9d9d;

  --c-error: #dd0000;

  --c-btn: #1b1c1e;
  --c-btn-text: #ffffff;

  /* radii */
  --r-10: 10px;

  /* sizes from figma */
  --card-w: 615px;
  --control-w: 535px;
  --control-h: 48px;

  --card-pad: 40px;
}
