:root{
  --bg: #f5f6f7;
  --card: #ffffff;
  --text: #111;
  --muted: #777;
  --line: #cfcfcf;
  --shadow: 0 10px 30px rgba(0,0,0,.08);

  --radius: 18px;
  --radius-sm: 12px;

  --btn: #1f1f1f;
  --danger: #e33;
}
